<div class="wrapper">
<div class="container">
  <div class="row">

    <div class='col-lg-1'></div>
    <div class='col-lg-10'>

      <div class="account-top">
        <h3>Edit Donation</h3>
        <div class="your-at col-md">
            <%= render 'form' %>
        </div>

      </div>
    </div>
    <div class='col-lg-1'></div>

  </div>
</div>

</div>
