<div id="carousel-example-captions"  class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" style="  ">
        <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="imgLiquidFill imgLiquid" style="height: 500px;">
                <img data-src="<%= asset_url "slider1.jpg" %>" style="  height: 500px;"  alt="900x500" src="<%= asset_url "slider1.jpg" %>" data-holder-rendered="true">
            </div>
          <div class="carousel-caption" style="    float: left;    position: absolute;    top: 34%;">
            <h1 style="    left: 0px;    font-size: 48px;">India's First Donation-Based Crowdfunding Platform</h1>
            <h3 style="    margin-top: 20px;">Donate anything and everything, for karma.</h3>
          </div>
        </div>
        <div class="item">
            <div class="imgLiquidFill imgLiquid" style="height: 500px;">
          <img   data-src="<%= asset_url "slider2.jpg" %>" style="  height: 500px;"  alt="900x500" src="<%= asset_url "slider2.jpg" %>"  data-holder-rendered="true">
          <div class="carousel-caption" style="   float: left;  position: absolute;  top: 10%;  right: 0%;">
            <h1 style="    left: 0px;    font-size: 48px;">Upcycle</h1>
            <h3 style="    margin-top: 20px;">Let them build, sell and survive.</h3>
          </div>
      </div>
        </div>
        <div class="item">
            <div class="imgLiquidFill imgLiquid" style="height: 500px;">
          <img   data-src="<%= asset_url "slider3.jpg" %>" style="  height: 500px;"  alt="900x500" src="<%= asset_url "slider3.jpg" %>"  data-holder-rendered="true">
          <div class="carousel-caption" style="   float: left;  position: absolute;  top: 34%;  color: #303030;  text-align: center;  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);">
            <h1 style="    left: 0px;    font-size: 48px;">Waste Management is not impossible</h1>
            <h3 style="    margin-top: 20px;">Together, We can.</h3>
          </div>
      </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
</br></br>
<div class="container">
  <div class="col-md-8">
    <h2>Donations</h2>
  </div>
  <div class="col-md-4 top-women" style="background: none;">
    <%= link_to 'Add New Donation', new_donation_path %>
  </div>
</div>
<div class="container">
<div class="">
<% @donations.each do |donation| %>
<div class="col-md-4" style="margin-bottom: 20px;">
  <div class="women">
    <a href="#"><img class="img-responsive" src="<%= donation.image.url if donation.image %>" style="width: 100%; height: 150px;" alt=""></a>
    <div class="women-top-in">
      <div class="women-top">
        <h5><%= donation.name %></h5>
        <p><%= donation.category %> | <b><%= donation.city %></b></p>
        <div class="clearfix"> </div>
      </div>
      <p class="sit" style="max-height: 36px; overflow: hidden;"><%= donation.description %></p>
      </div>
      <div class="top-women">
        <% if donation.user == current_user %>
         <a href="<%= edit_donation_path(donation) %>">Manage</a>
         <% else %>
         <!-- <a href="<%= donation_path(donation) %>">Show</a> -->
         <a href="<%= new_donation_request_path(donation) %>">Request</as>
         <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
